<template name="home">

  <div class="ui container">
    <div class="ui three column grid">

      {{#each sequences}}
        <div class="center aligned column {{sequence}}-column">

          <h2 class="ui header">{{sequence}}</h2>
          <div class="ui divider"></div>

          <div class="ui input">
            <input class='syllable-input' placeholder='Add/Remove...'>
          </div>

          <br>

          {{#each syllables}}
            <div class="ui small statistic">
              <div class="text value syllable">
                {{string}}
              </div>
            </div>
          {{/each}}

        </div>
      {{/each}}

    </div>
  </div>

  <div class="ui container center aligned">
    <i class="massive red remove link icon"></i>
    <i class="massive blue random link icon"></i>
    <i class="massive green disabled checkmark link icon"></i>
  </div>
</template>