body {
  background-color: #000;
}

h1.header {
  padding-top: 0.5em !important;
  cursor: pointer;
  color: #fff !important;
}

h2.header {
  color: #fff !important;
  text-transform: uppercase !important;
}

.text {
  color: #fff !important;
}

.container {
  max-width: 960px;
  margin: auto;
}

.syllable {
  padding: 0 1.8em;
  margin: 0;
  cursor: pointer;
}

.done {
  color: #5bbd72 !important;
}