h1.header {
  cursor: pointer;
}

#main > .segment {
  min-height: 100vh;
}

h2.header {
  text-transform: uppercase !important;
}

.container {
  max-width: 960px;
  margin: auto;
}

.statistic {
  margin: 0 !important;
}

.syllable {
  padding: 0 1.8em;
  margin: 0;
  cursor: pointer;
}

.ui.inverted.green.statistic > .value {
  color: #5bbd72 !important;
}

.edit-column {
  padding: 0.5em !important;
}
